# Composer / PHP
/vendor/
composer.phar
/.phpunit.result.cache

# Symfony
/var/
/var/*.log
/var/*.cache
/var/sessions/
/var/secrets/
/config/jwt/private.pem
/config/jwt/public.pem

# Environment
.env.local
.env.*.local
.env.local.php
/.env.test.local

# Build / assets / node
/node_modules/
/yarn-error.log
npm-debug.log
/.parcel-cache
/dist/

# IDEs
/.idea/
/*.iml
/.phpstorm.meta.php
/.vscode/

# Logs and runtime files
*.log
logs/
*.pid

# OS
.DS_Store
Thumbs.db
desktop.ini

# Misc
/.symfony/
.cache/
*.swp

.env
public/uploads/photos/*
public/uploads/cache/*
!public/uploads/photos/ango-logo.png
