{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Bari Galust Admin Panel{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Aystex shutov klinen statistik tvyalner (patverneri qanak, ekamut ev ayln).
    </div>
{% endblock %}
