{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Բարի գալուստ ադմին պանել{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Այստեղ շուտով կլինեն վիճակագրական տվյալներ (ամրագրումների քանակ, եկամուտ և այլն)։
    </div>
{% endblock %}
